<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="noindex, follow" />
    <meta name="description"
          th:content="'Azran SS Tool is an Minecraft SS Tool with high quality! Azran vs '+${video.videoName}"/>
    <meta name="keywords" content="Azran, Minecraft, SS Tool"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="/css/theme.css">
    <title th:text="'Azran - ' + ${video.videoName} + '!'"></title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbar3SupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-center" id="navbar3SupportedContent">
            <p class="lead">AZRAN - The best minecraft ss tool</p>
        </div>
    </div>
</nav>
<div class="py-5 text-center"
     style="background-image: url('/img/walp.jpg');background-position:center center;background-size:cover;background-repeat:no-repeat;">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <a href="/"><h1 class="mb-4 text-primary display-3">Azran
                    <br></h1></a>
            </div>
        </div>
    </div>
</div>
<div class="p-0 bg-primary m-0">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="my-3 col-md-12">
                    <div class="row mb-3">
                        <div class="align-self-center col-10 col-md-12">
                            <h3 class="text-light text-center">
                                <b th:text="${video.videoName}"></b>
                                <br></h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="embed-responsive embed-responsive-4by3">
                            <video th:src="@{'/videos/' + ${video.fileName}}" class="embed-responsive-item"
                                   id="videoPlayer" controls="controls"> Your browser does not support HTML5 video.
                            </video>
                            <script>
                                var vid = document.getElementById("videoPlayer");
                                vid.volume = 0.5;
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-dark text-white py-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3 text-center">
                <p>© Copyright 2018 Azran - All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>